<section class="hero has-background-primary is-bold is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div column is-5-tablet is-4-desktop is-3-widescreen>
              <form action="POST" class="box">
                <h3 class="title is-3 has-text-centered">
                  Welcome to the Sign Up Page
                </h3>
    
                <label class="label">Employee Information</label>
                <div class="contactName">
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="First Name"
                  />
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Last Name"
                  /> <br>
                    <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Cell Phone Number"
                  />
                </div>
                <label class="label">Login Information</label>
                <div class="usernameAndPassword">
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Username"
                  />
        
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Password"
                  />
                  
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Re-Verify Password"
                  />
                </div>
                <br />
    
                <div class="buttons level">
                  <button class="button is-link">Submit</button>
                  <button class="button is-dark">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    

