<section class="hero has-background-primary is-bold is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div column is-5-tablet is-4-desktop is-3-widescreen>
              <form action="POST" class="box">
                <h3 class="title is-3 has-text-centered">
                  Welcome to the Sign Up Page
                </h3>
    
                <label class="label">Employee Name</label>
                <div class="contactName level">
                  <input
                    class="input is-rounded is-small is-black column is-5"
                    type="text"
                    placeholder="First Name"
                  />
                  <input
                    class="input is-rounded is-small is-black column is-5"
                    type="text"
                    placeholder="Last Name"
                  />
                </div>
                <label class="label">Contact Information</label>
                <div class="phone level">
                  <input
                    class="input is-rounded is-small is-black column is-5"
                    type="text"
                    placeholder="Work Phone Number"
                  />
                  <input
                    class="input is-rounded is-small is-black column is-5"
                    type="text"
                    placeholder="Cell Phone Number"
                  />
                </div>
                <input
                  class="input is-rounded is-small is-black column is-12"
                  type="email"
                  placeholder="Email Address: example@gmail.com"
                />
                <br />
                <label class="label">Employee I.D.</label>
                <input
                  class="input is-rounded is-small is-black column is-6"
                  type="text"
                  placeholder="Employee I.D."
                />
                <br />
                <label class="label">Login Information</label>
                <div class="usernameAndPassword">
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Username"
                  />
                  <br />
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Password"
                  />
                  <br />
                  <input
                    class="input is-rounded is-small is-black column is-6"
                    type="text"
                    placeholder="Re-Verify Password"
                  />
                </div>
                <br />
    
                <div class="buttons level">
                  <button class="button is-link">Submit</button>
                  <button class="button is-dark">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
