<section class="hero has-background-info-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered has-text-white is-size-1">
          Admin Home Page
        </h1>
        <br>
        <div class="headerButtons level">
        <input class="adminHome button is-medium is-info is-inverted" type="submit" name="adminHome" value="Admin Home">
        <input class="createJob button is-medium is-info is-inverted" type="submit" name="createJob" value="Create Job">
        <input class="allJobs button is-medium is-info is-inverted" type="submit" name="allJobs" value="View All Jobs">
        <input class="completedJobs button is-medium is-info is-inverted" type="submit" name="completedJobs" value="View Completed Jobs">
        <input class="currentJobs button is-medium is-info is-inverted" type="submit" name="currentJobs" value="View Current Jobs">
        <input class="allEmployees button is-medium is-info is-inverted" type="submit" name="allEmployees" value="View Employees">
      </div>
      </div>
    </div>
  </section>

<section class="hero has-background-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div column is-5-tablet is-4-desktop is-3-widescreen>
              <figure class="admin level">
                <img src="assets/image/Git_Er_Done_Admin_Home_Page.png">
              </figure>
        </div>
      </div>
    </div>
    </div>
  </section>
