<section class="hero has-background-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div column is-5-tablet is-4-desktop is-3-widescreen>
              <h3 class="title is-3 has-text-centered">Lindsey Loves Unicorns!</h3>
              <figure class="level image is-128x128">
                <img src="http://clipart-library.com/img/1930606.png">
                <img src="http://clipart-library.com/img/1930606.png">
                <img src="http://clipart-library.com/img/1930606.png">
              </figure>
        </div>
      </div>
    </div>
    </div>
  </section>
  