<section class="hero has-background-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div column is-5-tablet is-4-desktop is-3-widescreen>
          <form #f = "ngForm" class="box" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
            <h3 class="title is-3 has-text-centered">Login</h3>
            <div class="field">
              <label for="" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Username" class="input" required #username = "ngModel" ngModel name="username">
                
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="********" class="input" required #password = "ngModel" ngModel name="password">
              </div>
            </div>
            <div class="field level">
              <button class="button is-link" type="submit" >Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Put in above once it's known about how the login route is functioning -->
<!-- <a routerLink="/my-jobs"><button class="login button is-medium is-info is-inverted">Login</button></a> -->
<!-- UPDATE CANCEL BUTTON ABOVE SO THAT IT CLEARS THE FIELDS -->


