<section class="hero has-background-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div column is-5-tablet is-4-desktop is-3-widescreen>
          <form #f = "ngForm" class="box" (ngSubmit)="onSubmit(f)">
            <h3 class="title is-3 has-text-centered">Login</h3>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="email" class="input" required #email = "ngModel" ngModel name="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="********" class="input" required #password = "ngModel" ngModel name="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field level">
              <button class="button is-info" type="submit" >Login</button>
              <button class="button is-info">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

