<section class="hero has-background-primary is-bold is-fullheight-with-navbar">
    <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div column is-5-tablet is-4-desktop is-3-widescreen>
  
      <form action="POST" class="box">
      <h3 class="title is-3 has-text-centered">Job Form</h3>
      <label class="label ">Business Name</label>
      <input class="input is-rounded is-small is-black column is-12" type="text" placeholder="Customer Business Name">
      <br>
      <label class="label ">Contact Name</label>
      <div class="contactName level">
      <input class="input is-rounded is-small is-black column is-5" type="text" placeholder="First Name">
      <input class="input is-rounded is-small is-black column is-5" type="text" placeholder="Last Name">
    </div>
   
    <label class="label ">Business Information</label>
      <input class="input is-rounded is-small is-black column is-12" type="text" placeholder="Street Address">
      <br>
      <div class="address level">
      <input class="input is-rounded is-small is-black column is-5" type="text" placeholder="City">
      <br>
      <input class="input is-rounded is-small is-black column is-2" type="text" placeholder="State">
      <br>
      <input class="input is-rounded is-small is-black column is-3" type="text" placeholder="Zip">
    </div>
      <input class="input is-rounded is-small is-black column is-5" type="tel" placeholder="Phone Number">
      <div class="field">
        <label class="label ">Employees</label>
        <p class="control">
          <span class="select is-small is-rounded is-black">
            <select>
              <option>Select Employee</option>
              <option>Christopher Louden</option>
              <option>Lindsey Darnell</option>
              <option>Michael Markham</option>
              <option>Konya Ferrell</option>
              <option>Charlie Blackmon</option>
              <option>Trevor Story</option>
              <option>Todd Helton</option>
            </select>
          </span>
        </p>
      </div>
      <div class="textArea is-rounded">
        <div class="columns">
          <div class="column is-12">
              <textarea class="textarea is-black" placeholder="Job Notes" rows="3"></textarea>
          </div>
        </div>
      </div>
  
       <!-- <div class="date level">
    <label class="pickDate">Select a Date</label>
      <div class="md-outline input-with-post-icon datepicker">
        <input placeholder="Select date" type="date" id="example" class="form-control">
        <label for="example"></label>
      </div>
    </div> -->
  
      <div class="field">
        <button class="button is-link">Submit</button>
      </div>
  
    </form>
  </div>
  </div>
  </div>
  </div>
  </section>
