<div class="headerButtons level has-text-white">
    <a routerLink="/admin-home"><button class="adminHome button is-medium is-info is-inverted">Admin Home</button></a>
    <a routerLink="/create-job"><button class="adminHome button is-medium is-info is-inverted">Create Jobs</button></a>
    <a routerLink="/all-jobs"><button class="adminHome button is-medium is-info is-inverted">View All Jobs</button></a>
    <a routerLink="/completed-jobs"><button class="adminHome button is-medium is-info is-inverted">View Completed Jobs</button></a>
    <a routerLink="/current-jobs"><button class="adminHome button is-medium is-info is-inverted">View Current Jobs</button></a>
    <a routerLink="/employee-profile"><button class="adminHome button is-medium is-info is-inverted">View Employees</button></a>
  </div>
